:root {
    --lightBlue: #fff;
    --mainWhite: #33777d;
    --mainDark: #eeebeb;
}

body {
    font-family: "El Messiri", sans-serif;
    min-height: 150vh;
    position: relative;
    margin: 0 !important;
    padding-bottom: 302px;
    box-sizing: border-box;
}

.msg {
    top: 85%;
    position: fixed;
    left: 93%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--mainWhite);
    color: var(--lightBlue);
    z-index: 1;
}

.text {
    color: var(--lightBlue);
}

.text1 {
    color: var(--mainWhite);
}

.active {
    border-bottom: solid var(--mainWhite);
}

.headerimg {
    width: 100%;
    height: 600px;
}

.header h1 {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 150px;
    text-align: center;
}

.section1 p, h2, .section3 p, h3 {
    color: #5b6670;
}

.section1 img {
    width: 150px;
    height: 150px;
}

.section3 img {
    width: 100px;
    height: 100px;
}

.section2 h1 {
    font-size: 48px;
}

.section2 p {
    font-size: 28px;
    font-weight: 300;
}

.section2 {
    background-image: url(./img/driverback.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section4 {
    background-image: url(./img/sec4back.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px !important;
}

.section4 img {
    height: 500px;
}

.color {
    color: var(--mainWhite);
}

.footer {
    background-color: #3d3d3d;
    color: aliceblue;
    position: absolute;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    height: 300px;
    width: 100%;
}

.footer i, .icon {
    color: var(--mainWhite);
}

.login {
    background-color: rgba(51, 119, 125, 0.6);
    height: fit-content !important;
    width: 400px !important;
    top: 100px !important;
    position: relative;
}

.loginback {
    background-image: url(./img/head2.jpeg);
    height: 900px;
}

.loginbtn {
    font-size: 1.4rem;
    background: transparent;
    border: 0.05rem solid var(--mainWhite);
    background: var(--mainWhite);
    color: var(--lightBlue);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    display: inline-block;
    margin: 0.2rem 0.5rem 0.2rem 0;
    transition: all 0.5s ease-in-out;
}

.loginbtn1 {
    font-size: 1.4rem;
    background: transparent;
    border: 0.05rem solid var(--lightBlue);
    background: var(--lightBlue);
    color: var(--mainWhite);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    display: inline-block;
    margin: 0.2rem 0.5rem 0.2rem 0;
    transition: all 0.5s ease-in-out;
}

.loginbtn:focus, .loginbtn1:focus {
    outline: none;
}

.loginbtn:hover {
    background: var(--lightBlue);
    color: var(--mainWhite);
}

.loginbtn1:hover {
    background: var(--mainWhite);
    color: var(--lightBlue);
}

.background {
    background-color: var(--mainWhite);
}

.map-container {
    position: relative;
    top: 100px;
    height: 500px !important;
    width: 900px;
    padding-bottom: 200px;
    margin-bottom: 200px !important;
}

.maptext {
    position: absolute;
    text-align: center;
}

.chat {
    position: fixed;
    top: 80px;
    right: 100px;
    width: 300px !important;
    margin-bottom: 200px;
    z-index: 10000 !important;
    transition: 0.5s ease-out;

}

.mm {
    height: 300px !important;
}

.texthov {
    transition: 0.5s ease-out;
}

.texthov:hover {
    padding-top: 20px;
}

.mytripimg {
    width: 555px !important;
    height: 500px;
}

.marker {
    background-image: url(./img/marker.png);
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.inputchat {
    width: 180px !important;
}
@media only screen and (max-width: 600px) {
    .header h1 {
        font-size: 50px;
    }
    .headerimg {
        height: 500px;
    }
    .section2 p {
        font-size: 20px;
    }
    .title {
        font-size: 25px;
    }
    .imgcourse {
        width: "250px" !important;
        height: "250px" !important;
    }
    .img {
        width: 350px;
    }
    .imgfooter {
        width: 150px;
        margin-top: 3px;
    }
    .footer {
        background-color: #3d3d3d;
        color: aliceblue;
        position: absolute;
        bottom: 0;
        height: 750px;
        width: 100%;
    }
    body {
        font-family: "El Messiri", sans-serif;
        min-height: 200vh;
        position: relative;
        margin: 0;
        padding-bottom: 700px;
        box-sizing: border-box;
    }
    .map-container {
        position: relative;
        top: 100px;
        height: 600px;
        width: 90%;
        padding-bottom: 200px;
        margin-bottom: 200px;
    }
    .mytripimg {
        width: 200px !important;
        height: 300px;
    }
    .msg {
        top: 70%;
        position: fixed;
        left: 70%;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: var(--mainWhite);
        color: var(--lightBlue);
        z-index: 1;
    }
    .chat {
        position: absolute;
        top: 100px;
        width: 250px !important;
        height: 250px !important;
        margin-bottom: 200px;
        z-index: 1 !important;
        right: 0;
    }
    
    .section4img {
        width: 100% !important;
    }
}

@media only screen and (min-width: 600px) {}

/* src/App.css */